body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  ol, ul {
    padding-left: 30px;
  }

  .sub_container {
    border: 1px solid green;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;

  }


  .board-row-1 {
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
  }
  .board-row-2 {
    border: 3px solid rgb(255, 251, 0);
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    justify-content: center;
  }
  .board-row-3 {
    border: 3px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    justify-content: center;
  }
  .board-row-4 {
    border: 3px solid rgb(17, 0, 255);
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    justify-content: center;
  }

  .circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid red;
    background-color: greenyellow;
}


  .square {
    background: #fff;
    border: 3px solid rgb(19, 143, 70);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    color: red;
    flex: auto;
  }

