body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  ol, ul {
    padding-left: 30px;
  }
  .game {
    border: 3 px solid blue;
  }

  .game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid blue;
  }

  .board-row {
    border: 3px solid red;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: auto; */
  }

  .square {
    background: #fff;
    border: 3px solid rgb(19, 143, 70);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    color: red;
    /* width: 34px; */
    flex: auto;
  }

  .quadrant_container {
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    color: green;
  }

  .status {
    margin-bottom: 10px;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game-info {
    margin-left: 20px;
  }

  .circle {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 1px solid red;
      background-color: greenyellow;
  }
